{% extends 'home/base.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %} <h1> About Page  </h1>

<br>
<h2>
    Creators:
</h2>
<p style="text-indent: 80px; font-size: 25px;">
    GO Squad: Harrison Maginn, Seth Soltz, Sanskar Gupta
</p>
<p style="text-indent: 80px; font-size: 25px;">
    PRO Squad: Jonathan Buchanan, Elle Vuotto, Hanwen Gu
   </p>
<p style="text-indent: 80px; font-size: 25px;">
    Coaches: Lisa Young (GO) and Kyle Peeler (PRO)
</p>


{% endblock %}