{% extends 'home/base.html' %}
{% load static %}
{% block title %} About {% endblock %}
{% block content %} <h1> About Page  </h1>

<br>
<center>
Our Product: Our solution offers fans a unique virtual fan experience through interacting
with their favorite team and players through Live chat rooms, a drive-in movie theater option, exclusive merchandise,
and deals and discounts that only they can get when fans are allowed to attend games
</center>

<h2>
    Creators:
</h2>
<p style="text-indent: 80px; font-size: 25px;">
    GO Squad: Harrison Maginn, Seth Soltz, Sanskar Gupta
</p>
<p style="text-indent: 80px; font-size: 25px;">
    PRO Squad: Jonathan Buchanan, Elle Vuotto, Hanwen Gu
   </p>
<p style="text-indent: 80px; font-size: 25px;">
    Coaches: Lisa Young (GO) and Kyle Peeler (PRO)
</p>


{% endblock %}