{% extends 'home/base.html' %}
{% block title %} Home {% endblock %} 
{% block content %} 
<h2> Post a question! </h2> 
    <b>
        <form method="post" action="">
            {% csrf_token %}
            Player(Search by username will be making this a dropdown list of followers later): <input type="text", name="player">
            Question: <input type="text", name="message">
            <button type="submit", name="new", value="new">Post</button>
        </form>
        <p>
        <h3> Unanswered Questions</h3>
        <ul> 
        {% for item in feed %}
        <li>Question for <u>{{item.player}}</u> | "{{item.message}}" posted by <em>{{item.author}}</em></li>
        {% endfor %}
        </ul>

        <h3> Answered Questions</h3>
        <ul> 
        {% for item in feed2 %}
            <li><u>{{item.player}}</u> answered "{{item.message}}" posted by <em>{{item.author}} |||| {{item.response}}</em></li>
        {% endfor %}
        </ul>
       </p>
    </b> 
{% endblock %} 