{% extends 'home/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

<body>
<img src="{% static 'home/images/home_logo.png' %}" width="1100" height="300" >
</body>

<h2> Post a question! </h2>
    <b>
        <form method="POST" action = "">{% csrf_token %}
            <label for="playerSelect">Choose The Player</label>
            <select type="text" id="playerSelect" name="playerSelect">
                <option selected>select</option>
                {% for player in all_players %}
                    <option>{{ player.name }}</option>
                {% endfor %}
            </select>
            <br><br>

            Question: <input type="text", name="message">
            <button type="submit", name="new", value="new">Post</button>
        </form>
        <p>
        <h3> Unanswered Questions</h3>
        <ul>
        {% for item in feed %}
        <li>Question for <u>{{item.player}}</u> | "{{item.message}}" posted by <em>{{item.author}}</em></li>
        {% endfor %}
        </ul>

        <h3> Answered Questions</h3>
        <ul>
        {% for item in feed2 %}
            <li><u>{{item.player}}</u> answered "{{item.message}}" posted by <em>{{item.author}} |||| {{item.response}}</em></li>
        {% endfor %}
        </ul>
       </p>
    </b>
{% endblock %}