{% extends 'home/base.html' %}
{% block title %} Store {% endblock %} 
{% block content %} <h1> Store Page  </h1>

<div class="container">
  <div class="align-left">
        <blockquote class="embedly-card"><h4><a href="https://shop.colts.com/">Indianapolis Colts Apparel, Colts Store, Indianapolis Colts Gear | Colts Pro Shop</a></h4><p>Colts fans, look no further if you're searching for the best assortment of officially licensed Indianapolis Colts gear than right here at the official online store of the Colts! The Colts Pro Shop is your source for the freshest Indianapolis Colts jerseys, t-shirts, hats and much more to display your affection.</p></blockquote>
        <script class="align-left" async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  </div>
  <div class="align-right">
        <blockquote class="embedly-card"><h4><a href="https://shop.colts.com/indianapolis-colts-jerseys/t-25604767+d-2371225680+z-97-1250402595">Indianapolis Colts Jerseys, Colts Uniform, Jersey | shop.colts.com</a></h4><p>Indianapolis Colts Jerseys and Uniforms at the Official Online Store of the Colts. Enjoy Quick Flat-Rate Shipping On Any Size Order. Browse Indianapolis Colts Store for the latest Colts uniforms, jerseys, replica jerseys and more for men, women, and kids.</p></blockquote>
        <script class="align-right"async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
  </div>
  <div class="align-left">

        <blockquote class="embedly-card"><h4><a href="https://shop.colts.com/indianapolis-colts-men/t-58152545+ga-67+z-81659-1492377754">Men's Indianapolis Colts Gear, Mens Indianapolis Colts Apparel, Guys Clothes | shop.colts.com</a></h4><p>Men's Indianapolis Colts gear is at the Official online store of the Colts. Browse the latest guys Indianapolis Colts apparel, clothing, and Colts shorts.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

  </div>
</div>


{% endblock %}