{% extends 'home/base.html' %}

{% load embed_video_tags %}
{% block title %} Videos {% endblock %}
{% block content %} <h1> Videos Page  </h1>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Video</title>
  </head>
  <body>
    <h1 class='text-center'>Welcome to your Colts video feed</h1><hr>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Team Highlights</button>
    </div>
    <div class="containder">
      <h2 class='text-center'>Choose a player to see highlights</h2><hr>
    {% for i in obj %}
    {% video i.video 'small' %}
    {% endfor %}


      <div >
    <h2 class='text-center'>Choose a player to see highlights</h2><hr>

    <select id="cars" name="cars">
      <option value="volvo">Choose a player to see highlights</option>
      <option value="saab">7 Jacoby Brissett</option>
      <option value="fiat">9 Jacob Eason</option>
      <option value="audi">6 Chad Kelly</option>
      <option value="audi">6 Philip Rivers</option>
    </select>
  </div>

    <iframe width="480" height="365"
src="https://www.youtube.com/embed/wRt8zS1P5AE">
</iframe>

<iframe width="480" height="365"
src="https://www.youtube.com/embed/vxWZE9HLlNg">
</iframe>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}